.icon-menu {
font-size: 40px;
font-style: bold;
}

.Location .container {
position: relative;
padding-bottom: 20px
top: 51px;
}

.jumbotron {
text-align: center;
background-image: url('background.jpg'); 
background-size: 100% 100%;
height: 700px;
}

.jumbotron button {
background-color: white;
color: black;
margin: auto;
position: relative;
border-radius: 50px;
top: 120px;
}

.jumbotron h1 {
position: relative;
top: 63px;
color: #333333;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}

.jumbotron h3 {
position: relative;
top: 86px;
color: white;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}


.jumbotron img {
position: relative;
top: 40px;
height: 200px;
width: 200px;
border: solid;
border-width: 3px;
border-radius: 300px;
right: 124px;
}

.Location {
text-align: center;
background-color: black;
background-size: cover;
background-repeat: no-repeat;
background-size: 100% 100%;
height: 200px;
color: white;
}

.container {
position: relative;
padding-bottom: 20px;
}

.Skills {
background-color: #ff0000; 
padding-top: 50px;
height: auto;
color: white;
background: hsla(0,0,0,0.5);
}

.Skills h2 {
padding-bottom: 30px;
text-align: center;
color: white;
}

.Skills hr {
width: 330px;
position: relative;
bottom: 20px;
}

.Skills p {
padding-bottom: 20px;
}

.border{
border: solid;
border-width: 3px;
border-radius: 100px;
border-color: white;
width: 140px;
height: 140px;
margin: auto;
}

.icon-database {
font-size: 50px;
position: relative;
top: 40px;
color: white;
font-style: bold;
}

.icon-code img {
font-size: 50px;
position: relative;
top: 40px;
color: white;
font-style: bold;
}

.icon-laptop {
font-size: 50px;
position: relative;
top: 40px;
color: white;
font-style: bold;
}

.icon-cloud {
font-size: 50px;
position: relative;
top: 40px;
color: white;
font-style: bold;
}

.icon-database:hover {
font-size: 60px;
position: relative;
top: 34px;
}

.icon-code:hover {
font-size: 60px;
position: relative;
top: 34px;
}

.icon-laptop:hover {
font-size: 60px;
position: relative;
top: 34px;
}

.icon-cloud:hover {
font-size: 60px;
position: relative;
top: 34px;
}

.Details {
height: 250px;
}

.Details .col-md-5 { 
height: 250px;
background-color: blue;
}

.Details .col-md-7 {
background-color: violet;
height: 250px;
}

.Details2 {
height: 250px;
}

.Details2 .col-md-5 { 
height: 250px;
background-color: white;
}

.Details2 .col-md-7 {
background-color: red;
height: 250px;
}