
 @font-face { font-family: Chalkduster; src: url('Chalkduster.ttf'); } 

.intro h1 {
font-family: Chalkduster;
color: white;
font-size: 60px;
margin-top: 7%;
text-align: center;
}

.intro {
display: none;
}

.copyright p {
position: relative;
color: #585858;
top: 10px;
}

.copyright {
position: absolute;
bottom: 0px;
color: white;
text-align: center;
background-color: black;
width: 100%;
height: 40px;
}

.second_line {
display: none;
font-family: Chalkduster;
color: white;
font-size: 30px;
margin-top: 7%;
text-align: center;
}



/*#contact_details {
display: none;
}*/

/*
.img-responsive {
background-size: contain;
}

#myCarousel {
position: relative;
bottom: 20px;
}

.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
*/
.navbar-nav > li > a {
height: 50px;
}

.nav > li  a > img {
position: relative;
bottom: 5px;
}

.contact {
background-size: cover;
background-repeat: no-repeat;
background-size: 100% 100%;
height: auto;
position: absolute;
bottom: 0px;
/*bottom: 20px;
padding-bottom: 40px;
padding-top: 40px;*/
color: white;
}

#contact li {
list-style-type: none;
display: flex;
}

.btn {
background-color: white;
color: black;
}

.Skills {
background-color: #ff0000; 
padding-top: 50px;
height: auto;
color: white;
position: relative;
bottom: 20px;
}

.Skills h2 {
padding-bottom: 30px;
text-align: center;
color: white;
}

.Skills hr {
width: 330px;
position: relative;
bottom: 20px;
}

.Skills p {
padding-bottom: 20px;
}

.border{
border: solid;
border-width: 3px;
border-radius: 100px;
border-color: white;
width: 140px;
height: 140px;
margin: auto;
}

.icon-database {
font-size: 50px;
position: relative;
top: 40px;
color: white;
font-style: bold;
}

.icon-code {
font-size: 50px;
position: relative;
top: 40px;
color: white;
font-style: bold;
}

.icon-laptop {
font-size: 50px;
position: relative;
top: 40px;
color: white;
font-style: bold;
}

.icon-cloud {
font-size: 50px;
position: relative;
top: 40px;
color: white;
font-style: bold;
}

.icon-database:hover {
font-size: 60px;
position: relative;
top: 34px;
}

.icon-code:hover {
font-size: 60px;
position: relative;
top: 34px;
}

.icon-laptop:hover {
font-size: 60px;
position: relative;
top: 34px;
}

.icon-cloud:hover {
font-size: 60px;
position: relative;
top: 34px;
}

.icon-facebook {
height: 40px;
width: 40px;
}




